body {
	font-family: Tahoma, Arial, sans-serif;
	margin: 0px;
	overflow: hidden;
}

a.broken {
	color: red;
}

h1 {
	margin-top: 0px;
}

/*
	View Definitions
*/

.view {
	display: none;
}

.view.view-selected {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	box-sizing: border-box;
}

/*
	Articles View
*/

#articlesSidebar {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30ex;
	bottom: 0px;
	padding: 0.5ex 1ex;
	box-sizing: border-box;
}

#articlesSidebar a {
	display: block;
}

#articlesDivider {
	display: block;
	position: absolute;
	top: 0px;
	left: calc(30ex - 1px);
	width: 3px;
	bottom: 0px;
	box-sizing: border-box;
}

#articlesContent {
	display: block;
	position: absolute;
	top: 0px;
	left: calc(30ex + 1px);
	right: 0px;
	bottom: 0px;
	padding: 0.5ex 1ex;
	box-sizing: border-box;
}

.articleDataContainer {
	display: block;
	box-sizing: border-box;
}

.articleDataContainer:not(.reading) .articleDataRead {
	display: none;
}

.articleDataContainer.reading .articleDataRead {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.articleDataRead .edit {
	display: inline-block;
	float: right;
}

.articleDataContainer:not(.editing) .articleDataEdit {
	display: none;
}

.articleDataContainer.editing input[type='text'].articleDataEdit {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.articleDataContainer.editing textarea.articleDataEdit {
	display: block;
	height: 10em;
	width: 100%;
	box-sizing: border-box;
}

.articleCategoriesContainer {
	display: flex;
}

.articleCategoriesContainer b {
	flex: 0 0 auto;
	margin-right: 1ex;
	line-height: calc(1.4em + 2px + 0.2em);
}

.articleCategoriesContainer .articleCategories {
	flex: 1 1 auto;
	display: flex;
	border: 1px solid black;
	border-radius: 0.8ex;
	padding: 0.1em 0.1em;
	cursor: text;
}

.articleCategoriesContainer .articleCategories a {
	flex: 0 0 auto;
	margin: 0.12em;
	padding: 0.05em;
	font-size: 0.9em;
}

.articleCategoriesContainer .articleCategories .articleAddCategory {
	flex: 1 0 auto;
	border: 0px;
	outline: 0px;
}

/*
	Categories View
*/

#categoriesSidebar {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30ex;
	bottom: 0px;
	padding: 0.5ex 1ex;
	box-sizing: border-box;
}

#categoriesSidebar a {
	display: block;
}

#categoriesDivider {
	display: block;
	position: absolute;
	top: 0px;
	left: calc(30ex - 1px);
	width: 3px;
	bottom: 0px;
	box-sizing: border-box;
}

#categoriesContent {
	display: block;
	position: absolute;
	top: 0px;
	left: calc(30ex + 1px);
	right: 0px;
	bottom: 0px;
	padding: 0.5ex 1ex;
	box-sizing: border-box;
}

.categoryFieldContainer {
	display: block;
	box-sizing: border-box;
}

.categoryFieldContainer caption {
	font-weight: bold;
	text-align: left;
}

.categoryFieldContainer tbody {
	font-size: 0.9em;
}

.categoryFieldContainer th {
	padding-left: 4ex;
	text-align: right;
}

input[type='text'].categoryDataEdit {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

textarea.categoryDataEdit {
	display: block;
	height: 10em;
	width: 100%;
	box-sizing: border-box;
}

/*
	Map View
*/

#mapCanvas {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	box-sizing: border-box;
}

#mapImageControls {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	box-sizing: border-box;
}
