{{! You must have elements with the following classes for these purposes: "articleSaveBtn": Saves the article when clicked; "articleAddCategory": An input element that adds the article to the entered category when 'return' is pressed.}}
{{#each categories}}
{{> (categoryPartial id) }}
{{/each}}
<hr/>
<button class="articleSaveBtn">Save Article</button>
<label for="articleAddCategory" class="articleCategoriesContainer">
	<b>Categories: </b>
	<div class="articleCategories">
		{{#each categories}}
		{{#if actual}}{{#unlesseq id "*"}}<a href="#{{id}}" data-type="category">{{title}}</a>{{/unlesseq}}{{/if}}
		{{/each}}
		<input id="articleAddCategory" class="articleAddCategory"/>
	</div>
</label>