{{#each fields}}
<div class="articleDataContainer {{#ifeq value ""}}editing{{else}}reading{{/ifeq}}">
{{#ifeq type "select"}}
	<select class="articleDataEdit" data-category="{{../id}}" data-field="{{field}}" title="{{description}}">
		<option value="">Select {{name}}...</option>
{{#each options}}
		<option value="{{value}}"{{#if selected}} selected="selected"{{/if}}>{{label}}</option>
{{/each}}
	</select>
{{else ifeq type "textarea"}}
	<textarea placeholder="{{name}}" class="articleDataEdit" data-category="{{../id}}" data-field="{{field}}" title="{{description}}">{{value}}</textarea>
{{else}}
	<input type="{{type}}" value="{{value}}" placeholder="{{name}}" class="articleDataEdit" data-category="{{../id}}" data-field="{{field}}" title="{{description}}"/>
{{/ifeq}}
{{#ifeq type "hidden"}}
{{else ifeq field "t"}}
	<div class="articleDataRead">
		<button class="edit">edit</button>
		<h1>{{{valueParsed}}}</h1>
	</div>
{{else}}
	<div class="articleDataRead">
		<button class="edit">edit</button>
		<span>{{{valueParsed}}}</span>
	</div>
{{/ifeq}}
</div>
{{/each}}