{{#each fields}}
<div class="articleDataContainer category{{#ifeq ../id "*"}}{{else}}-{{../id}}{{/ifeq}} {{#ifeq value ""}}editing{{else}}reading{{/ifeq}}" data-category-name="{{../title}}" data-field-name="{{name}}">
{{#ifeq type "select"}}
	<select class="articleDataEdit" data-category="{{../id}}" data-field="{{field}}" title="{{description}}">
		<option value="">Select {{name}}...</option>
{{#each options}}
		<option value="{{value}}"{{#if selected}} selected="selected"{{/if}}>{{label}}</option>
{{/each}}
	</select>
{{else ifeq type "textarea"}}
	<textarea placeholder="{{name}}" class="articleDataEdit" data-category="{{../id}}" data-field="{{field}}" title="{{description}}">{{value}}</textarea>
{{else}}
	<input type="{{type}}" value="{{value}}" placeholder="{{name}}" class="articleDataEdit" data-category="{{../id}}" data-field="{{field}}" title="{{description}}"/>
{{/ifeq}}
{{#ifeq type "hidden"}}
{{else}}
	<div class="articleDataRead field-{{field}}">
		{{#unlesseq ../id "*"}}<b>{{name}}: </b>{{/unlesseq}}
		{{{valueParsed}}}
	</div>
{{/ifeq}}
</div>
{{/each}}