{{#if hidden}}
<input class="categoryIDField" type="hidden" value="{{fieldId}}" id="{{fieldId}}_id" name="id"/>
{{#each options}}
<input class="categoryDataEdit" type="hidden" value="{{lookup ../fieldData @key}}" id="{{../fieldId}}_{{@key}}" name="{{@key}}" data-idfield="{{../fieldId}}_id"/>
{{/each}}
{{else}}
<table class="categoryFieldContainer">
	<caption>
		<input type="text" class="categoryIDField" id="{{fieldId}}_id" value="{{fieldId}}" name="id" placeholder="Unique Identifier"/>
		<button class="categoryFieldRemoveBtn">X</button>
	</caption>
	<tbody>
	{{#each options as |option optionId|}}
		<tr class="categoryFieldOptionContainer{{#iftype condition 'function'}} conditional{{/iftype}}" data-option="{{optionId}}">
			<th><label for="{{../fieldId}}_{{optionId}}">{{label}}:</label></th>
			<td>
			{{#ifeq type "select"}}
			<select id="{{../fieldId}}_{{optionId}}" class="categoryDataEdit field-{{optionId}}{{#iftype optionsFunc 'function'}} dynamicOptions{{/iftype}}{{#if checkConditions}} changer{{/if}}" data-idfield="{{../fieldId}}_id" name="{{optionId}}" data-default="{{lookup ../fieldData optionId}}">
			{{#if options}}{{#each options}}
				<option value="{{@key}}"{{#ifeq @key (lookup ../../fieldData optionId)}} selected{{/ifeq}}>{{@this}}</option>
			{{/each}}{{/if}}
			</select>
			{{else}}
			<input id="{{../fieldId}}_{{optionId}}" class="categoryDataEdit field-{{optionId}}{{#if checkConditions}} changer{{/if}}" data-idfield="{{../fieldId}}_id" type="{{type}}" name="{{optionId}}" {{#ifeq type "checkbox"}}value="1"{{#if (lookup ../fieldData optionId)}} checked{{/if}}{{else}}value="{{lookup ../fieldData optionId}}"{{/ifeq}}/>
			{{/ifeq}}
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
{{/if}}