.articleDataContainer {
	display: block;
	box-sizing: border-box;
}

.articleDataContainer:not(.reading) .articleDataRead {
	display: none;
}

.articleDataContainer.reading .articleDataRead {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.articleDataRead .edit {
	display: inline-block;
	float: right;
}

.articleDataContainer:not(.editing) .articleDataEdit {
	display: none;
}

.articleDataContainer.editing input[type='text'].articleDataEdit {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.articleDataContainer.editing textarea.articleDataEdit {
	display: block;
	height: 10em;
	width: 100%;
	box-sizing: border-box;
}

.articleCategoriesContainer {
	display: flex;
	cursor: text;
}

.articleCategoriesContainer b {
	flex: 0 0 auto;
	margin-right: 1ex;
	line-height: calc(1.4em + 2px + 0.2em);
}

.articleCategoriesContainer .articleCategories {
	flex: 1 1 auto;
	display: flex;
	border: 1px solid black;
	border-radius: 0.8ex;
	padding: 0.1em 0.1em;
}

.articleCategoriesContainer .articleCategories a {
	flex: 0 0 auto;
	margin: 0.12em;
	padding: 0.05em;
	font-size: 0.9em;
}

.articleCategoriesContainer .articleCategories .articleAddCategory {
	flex: 1 0 auto;
	border: 0px;
	outline: 0px;
}

.category .field-t {
	font-size: 2em;
	font-weight: bold;
}
